/* categoty page */

.blog-page {
}
.blog {
  background-image: url(../images/bottom-back.png);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.blog__container {
}
.blog__inner {
  padding: 50px 50px 60px;
  border-radius: 20px;
  background-image: url(../images/cases-back.svg);
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  position: relative;

  background: linear-gradient(180deg, #080808 0%, #1D1D1D 100%);
  
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, #080808 100%);
    z-index: 2;
  }
}
.breadcrumb {
  z-index: 5;
}
.blog__title {
  color: #ffffff;
  margin-bottom: 60px;
  z-index: 5;
}
.blog__filter {
  z-index: 5;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;

  p {
    opacity: 0.5;
    font-size: 16px;
    line-height: 20px;
    font-weight: 30px;
    color: #ffffff;
  }

  ul {
    display: flex;
    gap: 20px;

    li {
      cursor: pointer;

      &.current_page_item {
        a {
          text-decoration: underline;
        }
      }
      a {
        font-size: 16px;
        font-family: "Arimo";
        line-height: 20px;
        font-weight: 30px;
        color: #ffffff;
      }
    }
  }
}
.blog__list {
  z-index: 5;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 15px;
}

.article {
  display: grid;
  overflow: hidden;
  border-radius: 15px;

  .article__cover {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    aspect-ratio: 16/9;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }

    a {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  .article__body {
    background-color: #ffffff;
    height: 100%;
    flex-direction: column;
    display: flex;
    padding: 30px 20px 20px;
    gap: 20px;
  }

  .article__title {
    a {
      font-family: "Mars Type";
      font-size: clamp(22px, 2.08vw, 30px);
      line-height: 1;
      color: #080808;
    }
  }
  .article__about {
    font-family: "Arimo";
  }
  .article__data {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
  }
  .article__btn {
    margin-top: auto;
    @extend %whiteBtn;
  }
}

.blog__btn-blue {
  margin-top: 30px;
  @extend %blueBtn;
  z-index: 5;
  position: relative;
}
