.course-page {
  h1,
  h2 {
    font-family: "Mars Type";
    font-size: clamp(30px, 3.48vw, 50px);
    line-height: 1;
    color: #ffffff;
    letter-spacing: normal;
  }

  h3 {
    font-family: "Mars Type";
    font-size: clamp(20px, 2.08vw, 30px);
    line-height: 1;
    color: #ffffff;
  }
  h4,
  h5,
  h6 {
    font-family: "Mars Type";
    color: #ffffff;
  }
  p {
    font-family: "Arimo";
    font-size: clamp(12px, 1.11vw, 16px);
    line-height: 1.3;
    color: #ffffff;
    font-weight: 300;
  }

  li {
    font-family: "Arimo";
    font-size: clamp(12px, 1.11vw, 16px);
    line-height: 1.3;
    color: #ffffff;
    font-weight: 300;
  }

  /* head section */

  .head {
    padding-top: 20px;

    position: relative;
    z-index: 1;

    .head__container {
    }
    .breadcrumb {
    }
    .head_content {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr minmax(200px, auto);
      grid-template-rows: repeat(auto-fill, auto);
      gap: 0 38px;
    }

    .title {
      margin-bottom: 30px;
    }
    .subtitle {
      margin-bottom: 23px;
    }
    .language {
      padding-left: 28px;
      position: relative;
      margin-bottom: 5px;

      &::before {
        height: 21px;
        width: 21px;
        background-image: url(../images/language.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    .location {
      padding-left: 28px;
      position: relative;

      &::before {
        height: 21px;
        width: 21px;
        background-image: url(../images/location.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    .date {
      padding-left: 28px;
      position: relative;
      margin-top: 60px;

      span {
        background: linear-gradient(#259fba, #5263ff);
        background: -webkit-linear-gradient(#259fba, #5263ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &::before {
          height: 21px;
          width: 21px;
          background-image: url(../images/date.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
    .about {
      position: relative;
      max-width: 490px;
    }
    .fully-booked {
      background-color: #b6b6b6;
      display: inline-flex;
      height: 28px;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      padding: 0 12px;
      color: #080808;

      position: absolute;
      right: 0;
      top: 54px;
    }
    .next {
      font-size: clamp(12px, 0.97vw, 14px);
      font-family: "Mars Type";
      color: #ffffff;
      margin-top: 11px;

      &[title]::before {
        content: attr(title);
        /* then add some nice styling as needed, eg: */
        display: block;
        opacity: 0.5;
        margin-bottom: 5px;
      }
    }
    .buttons {
      margin-top: 30px;
      gap: 20px;
      display: flex;

      .button {
        &:first-of-type {
          @extend %blueBtn;
        }
        &:nth-of-type(2) {
          @extend %nonColorBtn;
        }
      }
    }

    .head__image {
      border-radius: 15px;
      overflow: hidden;
      width: 47.08vw;
      height: 100%;
      max-width: 678px;
      aspect-ratio: 226/195;

      grid-row: 1/6;
      grid-column: 2/3;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  /* intro section */
  .intro {
    position: relative;
    z-index: 2;
    margin-top: -32px;

    .intro__container {
    }
    .intro__inner {
      background-color: #394acb;
      border-radius: 20px;
      padding: 60px 50px;
      display: grid;
      width: 100%;
      grid-template-columns: minmax(200px, 485px) minmax(200px, 486px);
      grid-template-rows: repeat(auto-fill, auto);
      justify-content: space-between;
      gap: 0 30px;
    }
    .intro__title {
      margin-bottom: 30px;
      width: fit-content;
      position: relative;

      &::after {
        content: "";
        height: 2.15vw;
        min-height: 24px;
        max-height: 31px;
        aspect-ratio: 1/1;
        background-color: #ffffff;
        border-radius: 5px;
        position: absolute;
        bottom: 11px;
        margin-left: 10px;
        background-image: url(../images/arrow-blue.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 35%;
      }
    }
    .intro__subtitle {
      margin-bottom: 13px;
    }
    .intro__content {
      grid-row: 1/5;
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      gap: 10px;

      p {
        font-family: "Mars Type";
        font-size: clamp(25px, 3.48vw, 50px);
        line-height: 1;
        color: #ffffff;
        letter-spacing: normal;
      }

      div {
        border-radius: 15px;
        overflow: hidden;
        padding: 20px;
      }
    }
    .video-block {
      padding: 0 !important;
      position: relative;
      width: 100%;
      aspect-ratio: 14/9;

      p {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 2;
      }

      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .dark-blue {
      background-color: rgba(0, 0, 0, 0.6);
      padding-top: 60px !important;
    }
    .blue {
      background-color: rgba(0, 0, 0, 0.35);
    }
    .intro__list {
      color: #ffffff;

      li {
        padding: 8px 0 7px;

        font-family: "Arimo";
        font-size: clamp(12px, 1.11vw, 16px);
        line-height: 1.3;
        color: #ffffff;
        font-weight: 400;

        &:not(:last-child) {
          border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
        }
      }
    }
    .buttons {
      display: flex;
      gap: 20px;
      margin-top: auto;
    }
    .button {
      &:first-of-type {
        @extend %blackBtn;
      }
      &:nth-of-type(2) {
        @extend %nonColorBtn;

        &:hover {
          background-color: #080808;
        }
      }
    }
  }

  /* for who */
  .for {
    padding: 100px 0;

    .for__container {
    }
    .for__title {
      margin-bottom: 30px;
    }
    .for__content {
      display: grid;
      gap: 20px;
      width: 100%;
      grid-template-columns: 1fr minmax(auto, 686px);
    }
    .for__item {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 30px 34px 30px 0px;
      color: #080808;
      display: grid;
      grid-template-columns: minmax(10.42vw, 150px) 1fr;

      h4 {
        color: #080808;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
      }

      p {
        color: #080808;
      }
      .for__icon {
        grid-row: 1/3;
        grid-column: 1/2;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 104px;
        }
      }
    }
    .for__image {
      border-radius: 15px;
      overflow: hidden;
      grid-row: 1/3;
      grid-column: 2/3;
      height: 100%;
      aspect-ratio: 1.8/1;
      max-width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .buttons {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }
    .button {
      &:first-of-type {
        @extend %blueBtn;
      }
      &:nth-of-type(2) {
        @extend %nonColorBtn;
      }
    }
  }

  /* learn section */
  .learn {
    position: relative;
    z-index: 2;

    .learn__inner {
      border-radius: 20px 20px 0 0;
      background-color: #1a1a1a;
      padding: 60px 50px 100px 50px;
      position: relative;

      &::before {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-image: url(../images/learn-back.svg);
        background-repeat: no-repeat;
        background-position: 94% 300px;
        background-size: 50%;
      }
    }
    .learn__title {
      margin-bottom: 35px;
    }
    .learn__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: max-content;
      gap: 40px 4.8%;
      z-index: 3;
      position: relative;
    }
    .learn__item {
      border-top: rgba(255, 255, 255, 0.5) solid 1px;
      padding-top: 20px;

      h3 {
        font-size: clamp(25px, 3.48vw, 50px);
        line-height: 1;
        margin-bottom: 15px;
        color: rgba(82, 99, 255, 1);
      }
    }
  }

  /* benefits section */
  .benefits {
    margin-top: -20px;
    z-index: 2;
    position: relative;

    .benefits__inner {
      background-color: rgba(57, 74, 203, 1);
    }
  }

  /* program section */
  .program {
    padding-top: 120px;
    padding-bottom: 100px;
    .program__container {
    }
    .program__title {
      margin-bottom: 50px;
    }
    .program__list {
    }
    .program__item {
      margin-bottom: 20px;
      padding: 50px 50px 40px;
      border-radius: 10px;
      background-color: rgba(26, 26, 26, 1);
      display: grid;
      grid-template-columns: 1.05fr 2fr;
      grid-template-rows: auto auto;
      gap: 30px 40px;

      .cover {
        grid-column: 1/2;
        grid-row: 1/3;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 15px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .time {
        span {
          color: rgba(82, 99, 255, 1);
          margin-right: 20px;
        }
      }
      .content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }

      .title {
        font-size: 20px;
        line-height: 1;
        font-weight: 700;
        padding-left: 30px;
        position: relative;

        &::before {
          position: absolute;
          height: 24px;
          width: 24px;
          content: "";
          top: 50%;
          transform: translate(0, -50%);
          background-size: contain;
          background-repeat: no-repeat;
          left: 0;
        }
      }
      .lecture {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .title {
          &::before {
            background-image: url(../images/lecture.svg);
          }
        }

        ul {
          list-style-type: disc;
          list-style-position: outside;
          padding-left: 20px;
          li {
            list-style: inherit;
          }
        }
      }
      .hands-on {
        max-width: 310px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        ul {
          list-style-type: disc;
          list-style-position: outside;
          padding-left: 20px;
          li {
            list-style: inherit;
          }
        }

        .title {
          &::before {
            background-image: url(../images/head.svg);
          }
        }
      }
    }

    .button {
      @extend %blueBtn;
    }
  }

  /* lecturer section */
  .lecturer {
    .lecturer__container {
    }
    .lecturer__inner {
      border-radius: 20px;
      background-color: rgba(26, 26, 26, 1);
      padding: 100px 50px;
      display: grid;
      grid-template-columns: auto 370px;
      gap: 35px;
    }
    .lecturer__about {
    }
    .name {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        width: fit-content;
      }

      p {
        font-size: clamp(16px, 1.39vw, 20px);
        line-height: 1;
        max-width: 133px;
      }
    }

    .specialization {
      margin-bottom: 20px;
    }
    .about {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .buttons {
      margin-top: 30px;
      gap: 20px;
      display: flex;

      .button {
        &:first-of-type {
          @extend %blueBtn;
        }
        &:nth-of-type(2) {
          @extend %nonColorBtn;
        }
      }
    }

    .lecturer__photo {
      width: 100%;
      aspect-ratio: 0.76/1;
      border-radius: 15px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  /*  cost  section */
  .cost {
    padding-top: 116px;

    .cost__inner {
      background-color: #ffffff;
      border-radius: 20px;
      padding: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }
    .cost__about {
      border-radius: 20px 0 0 0;
      background-color: #080808;
      padding: 50px;

      .cost__list {
        margin-bottom: 40px;


      }
      ul {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: 20px;
        li {
          list-style: inherit;
        }
      }
      .cost__title {
        margin-bottom: 30px;
        background: linear-gradient(#259fba, #5263ff);
        background: -webkit-linear-gradient(#259fba, #5263ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .cost__list-title {
        margin-bottom: 20px;


      }
      .cost__discount {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .cost__discount-show {
        display: inline-flex;
        border-radius: 50px;
        border: #ffffff solid 1px;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;

        position: relative;

        p {
          line-height: 15px;
          font-size: 15px;
        }

        &:hover {
          cursor: pointer;
          .cost__discount-about {
            display: flex;
            transition: all 0.2s ease-out;
          }
        }
      }
      .cost__discount-about {
        position: absolute;
        background-color: #ffffff;
        padding: 35px;
        width: 360px;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        left: calc(100% - 20px);
        bottom: 20px;
        display: none;
        transition: all 0.2s ease-out;

        &:hover {
          display: flex;
          transition: all 0.2s ease-out;
        }

        p {
          color: #080808;
        }
      }
    }

    .cost__image {
      height: 100%;
      border-radius: 0 20px 20px 0;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .cost__buy {
      border-radius: 0 0 20px 20px;
      background: linear-gradient(101.78deg, #5263ff 22.88%, #259fba 79.58%);
      padding: 40px 50px;

      p {
        line-height: 30px;
        font-size: 30px;
        font-weight: 300;
      }

      span {
        font-family: "Arimo";
        max-width: 200px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 300;
        color: #ffffff;
      }
    }
    .cost__cost {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .button {
      @extend %blackBtn;
      margin-top: 30px;
    }
  }

  /*  feedback section */

  

  @media (min-width: 1200px) and (max-width: 1300px) {
    .intro {
      margin-top: 30px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .intro {
      margin-top: 40px;
    }
    /* for who */
    .for {
      .for__content {
        grid-template-columns: 1fr 1fr;
      }

      .for__image {
        grid-column: 1/3;
        grid-row: 2/3;
      }
    }
  }

  /* for inner padding */
  @media (min-width: 769px) and (max-width: 1200px) {
    /* learn section */
    .learn {
      .learn__inner {
        padding: reWidth(60) reWidth(50) reWidth(100) reWidth(50);
      }
      .learn__title {
        margin-bottom: reWidth(35);
      }
    }

    /* program section */
    .program {
      padding-top: reWidth(120);
      padding-bottom: reWidth(100);

      .program__title {
        margin-bottom: reWidth(50);
      }

      .program__item {
        padding: reWidth(50) reWidth(50) reWidth(40);
        gap: reWidth(30) reWidth(40);
      }
    }
    /* lecturer section */
    .lecturer {
      .lecturer__inner {
        padding: reWidth(100) reWidth(50);
      }
    }

    /* intro section */
    .intro {
      .intro__inner {
        padding: reWidth(60) reWidth(50);

        gap: 0 reWidth(30);
      }
    }

    /* for who */
    .for {
      padding: reWidth(100) 0;

      .for__title {
        margin-bottom: reWidth(30);
      }

      .for__item {
        padding: reWidth(30) reWidth(34) reWidth(30) 0px;
      }
    }

    /* benefits section */
    .benefits {
      .benefits__inner {
        padding: reWidth(60) reWidth(50) reWidth(50);
      }
    }

    /*  cost  section */
    .cost {
      padding-top: reWidth(116);

      .cost__inner {
        padding: reWidth(50);
      }
      .cost__about {
        padding: reWidth(50);
      }

      .cost__buy {
        padding: reWidth(40) reWidth(50);
      }
    }
  }

  /* Portrait tablets and small desktops */
  @media (min-width: 769px) and (max-width: 991px) {
    .intro {
      margin-top: 40px;
    }

    /* for who */
    .for {
      .for__content {
        grid-template-columns: 1fr 1fr;
      }

      .for__image {
        grid-column: 1/3;
        grid-row: 2/3;
      }
    }
  }

  @media (min-width: 769px) {
  }

  /* Landscape phones and portrait tablets */
  @media (max-width: 768px) {
    .head {
      padding-top: 10px;
      padding-bottom: 80px;

      .head_content {
        grid-template-columns: 100%;
        gap: 0px;
      }

      .title {
        margin-bottom: 15px;
      }
      .subtitle {
        margin-bottom: 0px;
      }

      .about {
        grid-row: 3/4;
        margin-bottom: 50px;
        max-width: 400px;
      }

      .fully-booked {
        right: 0;
        top: 4px;
      }

      .language {
        padding-left: 20px;
        margin-bottom: 10px;

        &::before {
          height: 15px;
          width: 15px;
        }
      }
      .location {
        padding-left: 20px;

        &::before {
          height: 15px;
          width: 15px;
        }
      }
      .date {
        margin-top: 0px;
        padding-left: 0;

        span {
          display: block;
          padding-left: 20px;

          &::before {
            height: 15px;
            width: 15px;
            top: 0;
            transform: none;
          }
        }
      }
      .next {
        line-height: 16px;
        margin-top: 10px;
      }

      .head__image {
        grid-row: inherit;
        grid-column: inherit;
        margin-bottom: 25px;
        min-width: 400px;
      }
    }

    /* intro section */
    .intro {
      margin-top: 0;

      .intro__inner {
        border-radius: 10px;
        padding: 60px 20px 80px;
        grid-template-columns: 100%;
        gap: 0;
      }
      .intro__title {
        margin-bottom: 15px;

        &::after {
          bottom: 3px;
          margin-left: 5px;
        }
      }
      .intro__subtitle {
        margin-bottom: 20px;
      }
      .intro__content {
        grid-row: inherit;
        grid-column: inherit;
        gap: 5px;

        div {
          border-radius: 7.72px;
          overflow: hidden;
          padding: 7px 13px 9px;
        }
      }
      .video-block {
        aspect-ratio: 14/9;

        p {
          bottom: 9px;
          left: 13px;
        }
      }
      .dark-blue {
        padding-top: 23px !important;
      }

      .intro__list {
        color: #ffffff;
        margin-top: 15px;

        li {
          padding: 5px 0;
        }
      }
      .buttons {
        margin-top: 25px;
      }
    }

    /* for who */
    .for {
      padding: 80px 0 100px;

      .for__title {
        margin-bottom: 20px;
      }
      .for__content {
        gap: 10px;
        grid-template-columns: 100%;
      }
      .for__item {
        padding: 20px;
        grid-template-columns: 100%;

        h4 {
          margin-bottom: 15px;
        }
        .for__icon {
          grid-row: inherit;
          grid-column: inherit;
          margin-bottom: 60px;
          justify-content: start;

          img {
            max-width: 122px;
          }
        }
      }
      .for__image {
        display: none;
      }

      .buttons {
        margin-top: 10px;
      }
    }

    /* learn section */
    .learn {
      .learn__inner {
        border-radius: 10px;
        padding: 80px 20px 112px 20px;

        &::before {
          background-position: calc(100% + 10px) calc(100% + 350px);
          background-size: 400px;
        }
      }
      .learn__title {
        margin-bottom: 40px;
      }
      .learn__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
      .learn__item {
        h3 {
          line-height: 25px;
          margin-bottom: 10px;
        }
      }
    }

    /* program section */
    .program {
      padding-top: 100px;

      .program__title {
        margin-bottom: 30px;
      }

      .program__item {
        padding: 40px 20px 60px;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;

        .cover {
          grid-column: inherit;
          grid-row: inherit;
          max-width: 370px;
        }
        .time {
          grid-row: 1/2;
          margin-bottom: -15px;
          span {
            margin-right: 10px;
          }
        }
      }

      .button {
        @extend %blueBtn;
      }
    }

    /* lecturer section */
    .lecturer {
      .lecturer__inner {
        border-radius: 10px;
        padding: 60px 20px 80px;
        grid-template-columns: 100%;
      }
      .specialization {
        margin-bottom: 25px;
      }

      .lecturer__photo {
        max-width: 400px;
        margin-bottom: 30px;
      }
    }

    /*  cost  section */
    .cost {
      padding-top: 100px;

      .cost__inner {
        border-radius: 15px;
        padding: 80px 35px;
        grid-template-columns: 100%;
        width: 100vw;
        margin-left: -35px;
      }
      .cost__about {
        border-radius: 10px 10px 0 0;
        padding: 60px 20px 30px;

        .cost__list {
          margin-bottom: 25px;
        }

        .cost__title {
          margin-bottom: 20px;
        }
        .cost__list-title {
          margin-bottom: 10px;
        }
        .cost__discount {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      .cost__image {
        border-radius: 0;
      }
      .cost__buy {
        border-radius: 0 0 10px 10px;
        padding: 25px 20px;
      }
    }
  }

  /* Portrait phones and smaller */
  @media (max-width: 480px) {
    .head {
      .buttons {
        margin-top: 20px;
        gap: 5px;
        flex-direction: column;
      }

      .head__image {
        width: calc(100% + 72px);
        margin-left: -36px;
        margin-top: 10px;
      }
    }

    /* intro section */
    .intro {
      .buttons {
        flex-direction: column;
        gap: 5px;
      }
    }

    /* for section */
    .for {
      .buttons {
        flex-direction: column;
        gap: 5px;
      }
    }

    /* learn section */
    .learn {
      .learn__inner {
        &::before {
          background-position: calc(100% + 150px) calc(100% + 350px);
          background-size: 400px;
        }
      }
    }

    /* program section */
    .program {
      padding-top: 100px;

      .program__item {
        .content {
          flex-direction: column;
          gap: 30px;
        }

        .title {
          font-size: 16px;
          line-height: 18px;
          padding-left: 26px;
          margin-bottom: 5px;

          &::before {
            width: 20px;
            height: 20px;
          }
        }

        .lecture {
          gap: 10px;
        }
        .hands-on {
          gap: 10px;
        }
      }
    }

    /* lecturer section */

    .lecturer {
      .name {
        padding-bottom: 0px;
        border-bottom: none;
        flex-direction: column;
        gap: 10px;
        align-items: start;

        h2 {
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          padding-bottom: 10px;

          span {
            display: none;
          }
        }

        p {
          font-size: 20px;
          opacity: 0.7;
          max-width: none;
        }
      }

      .buttons {
        flex-direction: column;
        gap: 5px;
      }
    }

    /*  cost  section */
    .cost {
      .cost__about {
        .cost__discount {
          gap: 5px;
        }
        .cost__discount-show {
          border: #ffffff solid 0.5px;
          height: 10px;
          width: 10px;

          p {
            line-height: 8px;
            font-size: 8px;
          }

          &:hover {
            cursor: pointer;
            .cost__discount-about {
              display: flex;
              transition: all 0.2s ease-out;
            }
          }
        }
        .cost__discount-about {
          padding: 15px;
          width: calc(100vw - 140px);
          border-radius: 10px;
          bottom: 20px;
          left: inherit;
          right: -6vw;

          p {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }

      .cost__buy {
        span {
          font-size: 10px;
        }
      }
      .cost__cost {
        flex-direction: column;
        gap: 5px;
        align-items: start;
      }
    }
  }

  /* Iphone 5 */
  @media (max-width: 320px) {
  }
}
