@import "default.scss";

@import url(https://fonts.googleapis.com/css?family=Arimo:regular,400,700,&display=swap);

@font-face {
  font-family: "Mars Type";
  src: url(../fonts/marsType/marstype_regular_w.woff) format("woff");
  src: url(../fonts/marsType/MarsType_Regular.ttf) format("ttf");
  font-weight: normal;
}

$maxWidth: 1440;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

$textWhite: #fff;
$textBlack: #080808;

.headline {
  color: #fff;
  font-family: "Mars Type";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  text-transform: uppercase;
  @include adaptiv-font(80, 28);
}

.title {
  color: #fff;
  font-family: "Mars Type";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  @include adaptiv-font(50, 30);
}

.caption {
  color: #fff;
  font-family: "Mars Type";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  @include adaptiv-font(30, 22);
}

.subtitle {
  color: #080808;
  font-family: "Mars Type";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  @include adaptiv-font(20, 18);
}

.text {
  color: #fff;
  font-family: "Arimo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  @include adaptiv-font(16, 14);
}

.menu-link {
  color: #b6b6b6;
  font-family: "Arimo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  @include adaptiv-font(16, 12);

  &:hover {
    color: #394acb;
  }
}

.button {
  max-width: 232px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-family: "Mars Type";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  @include adaptiv-font(20, 18);
}

%whiteBtn {
  border: 1px solid #000;
  color: #080808;
  background: #fff;

  span::before {
    content: url("../images/dotBlack.svg");
  }

  &:hover {
    background: #5263ff;
    color: #fff;
    border: none;
    transition: 0.3s;

    span::before {
      content: url("../images/dot.svg");
    }
  }
}

%blueBtn {
  background: #394acb;
  color: #fff;

  span::before {
    content: url("../images/dot.svg");
  }

  &:hover {
    border: 1px solid #fff;
    background: none;
    color: #fff;
    transition: 0.3s;
  }
}

%nonColorBtn {
  border: 1px solid #fff;
  color: #fff;

  span::before {
    content: url("../images/dot.svg");
  }

  &:hover {
    background: #394acb;
    color: #fff;
    transition: 0.3s;
    border: none;
  }
}

/* Arrows */
.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  line-height: 0;
  display: block;
  padding: 0;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

  &:active {
    opacity: 0.7;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}
.slick-prev {
  background-image: url("../images/arrow-left.svg");
}

.slick-next {
  background-image: url("../images/arrow-right.svg");
}
// -----------------------------------------------------



// ------------   HEADER   ------------

.header {
  .header__container {
    .header__nav {
      padding: 36px 0 41px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-list {
        display: flex;
        gap: 30px;
        z-index: 3;
        position: relative;

        .menu-item {
          .menu-link {
            &:hover {
              color: #394acb;
              transition: 0.3s;
            }
          }
        }
      }

      img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }

    // MOBILE MENU

    .header__burgerIcon {
      width: 40px;
      height: 40px;
      position: relative;
      z-index: 12;
      overflow: hidden;
    }

    .header__burgerIcon span {
      width: 19px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      transition: all 0.5s;
    }

    .header__burgerIcon span:nth-of-type(2) {
      top: calc(50% - 7px);
    }

    .header__burgerIcon span:nth-of-type(3) {
      top: calc(50% + 7px);
    }

    .header__burgerIcon.active {
      right: 25px;
    }

    .header__burgerIcon.active span:nth-of-type(1) {
      display: none;
    }

    .header__burgerIcon.active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);
    }

    .header__burgerIcon.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg);
    }
  }
}

//---------- section primary -----------
.primary {
  z-index: 2;
  position: relative;

  &::before {
    content: '';
    background-image: url(/images/gradient-1bl.svg);
    width: 1015px;
    height: 1092px;
    transform: rotate(-55.063deg);
    flex-shrink: 0;
    top: -320px;
    left: 40px;
    position: absolute;
    outline: double;
    border: none;
  }

  .primary__container {
    position: relative;
    overflow: hidden;



    .primary__gradient {
      width: 878px;
      height: 470px;
      transform: rotate(-88.09deg);
      flex-shrink: 0;
      opacity: 0.5;
      filter: blur(68.2061843872px);
      background-image: linear-gradient(rgb(22, 37, 149),
          rgb(60, 131, 159),
          rgb(11, 22, 100),
          rgb(44, 118, 147));
      position: absolute;
      z-index: 1;
    }

    .primary__inner {
      // padding: 60px 50px 107px;
      padding: 60px 50px 50px;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100%;
        border-radius: 25px 20px 0px 0px;
      }

      display: flex;
      flex-direction: column;
      // gap: 150px;

      .primary__titles {
        margin-bottom: 150px;
        z-index: 1;

        .primary__headline {
          margin-bottom: 15px;
        }

        .primary__title {
          margin-bottom: 40px;

          span {
            color: #5263ff;
          }
        }
      }

      .primary__btns {
        display: flex;
        gap: 10px;
        z-index: 1;
        margin-bottom: 50px;

        .primary__btn1 {


          @extend %blueBtn;
        }

        .primary__btn2 {

          @extend %nonColorBtn;
        }
      }
    }
  }
}

//----------- section programs -------------
.programs {
  margin-top: -50px;
  z-index: 3;
  position: relative;

  .programs__container {
    .programs__inner {
      border-radius: 20px;
      background: #394acb;
      padding: 80px 50px 50px;

      .programs__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .programs__info {
          .programs__title {
            margin-bottom: 20px;
          }
        }

        span {
          color: $textWhite;
          opacity: 0.5;
          text-align: right;
          font-family: "Arimo";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          text-transform: uppercase;
        }
      }

      .programs__slider {
        display: flex;
       
        .slick-track {
          
          gap: 15px;
        }

        .slick-prev {
          right: 60px;
          top: -80px;
        }
        
        .slick-next {
          right: 5px;
          top: -80px;
        }

        .programs__item {
          background: #fff;
          max-width: 370px;
          position: relative;
          display: grid;
          grid-template-rows: 210px auto;
          transition: all 0.4s ease-in-out;
          overflow: hidden;
          border-radius: 15px;

          .programs__img {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 100%;

            img {
              height: 100%;
              object-fit: cover;
              width: 100%;
            }
          }

          .programs__about {
            padding: 40px 20px 20px 29px;
            display: flex;
            flex-direction: column;
            height: 100%;

            .programs__subtitle {
              margin-bottom: 20px;
            }

            .programs__text {
              color: $textBlack;
              margin-bottom: 30px;

            }

            .programs__btn {

              margin-top: auto;
              @extend %whiteBtn;
            }
          }
        }
      }
    }
  }
}

//---------- section level ----------
.level {

  position: relative;

  .level__container {
    .level__inner {
      padding: 110px 0 100px;
      display: flex;
      gap: 78px;

      .level__background {
        position: absolute;
        top: 0%;
        right: 0%;
        overflow: visible;
        z-index: -2;
      }

      .level__info {
        .level__title {
          margin-bottom: 50px;

          span {
            background: linear-gradient(96deg, #5263ff 6.38%, #259fba 78.03%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .level__list {
          .level__item {
            .level__subtitle {
              color: $textWhite;
              margin-bottom: 15px;
            }

            .level__text {
              margin-bottom: 30px;
            }

            &:nth-last-child(n + 3) {
              border-bottom: 1px solid white;
              margin-bottom: 20px;
            }
          }

          .level__btns {
            display: flex;
            gap: 20px;

            .level__btn1 {

              @extend %blueBtn;
            }

            .level__btn2 {

              @extend %nonColorBtn;
            }
          }
        }
      }

      .level__video {
        max-width: 678px;
        width: 47vw;

        video {
          border-radius: 15px;
          min-width: 100%;
          object-fit: cover;
          overflow-clip-margin: content-box;
          overflow: clip;
        }
      }
    }
  }
}

//---------- section benefits ----------

.benefits__container {
  .benefits__inner {
    border-radius: 20px;
    background: #1a1a1a;
    padding: 60px 50px 50px;

    .benefits__title {
      margin-bottom: 30px;
    }

    .benefits__slider {
      .slick-track {
        display: flex;
        gap: 15px;
      }

      .slick-prev {
        right: 60px;
        top: -80px;
      }

      .slick-next {
        right: 5px;
        top: -80px;
      }

      .benefits__slider-item {
        max-width: 370px;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-rows: 216px auto;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        gap: 10px;
        border-radius: 15px;
        background: #fff;
        padding: 20px 20px 30px;


        .benefits__img {
          display: flex;
          justify-content: center;
          max-width: 216px;
          width: 100%;
          height: auto;
          margin: 0 auto;

          img {
            max-width: 100%;
            height: auto;
            width: auto;
          }
        }

        .benefits__slider-title {
          color: $textBlack;
        }

        .benefits__slider-text {
          color: $textBlack;
        }
      }
    }
  }
}

//---------- section handsON ----------
.handsOn {
  .handsOn__container {
    .handsOn__inner {
      padding: 120px 0;
  
      .handsOn__title {
        margin-bottom: 30px;
  
        span {
          background: linear-gradient(91deg, #5263ff 20.92%, #6ab3a9 64.57%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          
        }
      }
  
      .handsOn__slider {
        .slick-prev {
          right: 60px;
          top: -80px;
        }
  
        .slick-next {
          right: 5px;
          top: -80px;
        }
  
        .slick-track {
          gap: 70px;
        }
  
  
        .handsOn__slider-item {
          display: flex;
          gap: 40px;
          max-width: 100%;
          width: 100%;
  
          .handsOn__slider-img {
            max-width: 610px;
            width: 42.4vw;
            min-width: 290px;
            border-radius: 15px;
            height: 22.2vw;
            max-height: 319px;
            min-height: 152px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
  
            img {
              border-radius: 15px;
  
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
  
          .handsOn__slider-info {
            .handsOn__caption {
              margin-bottom: 20px;
            }
  
            .handsOn__subtitle {
              color: $textWhite;
              display: flex;
              gap: 5px;
  
              span::before {
                content: url("../images/calendar.svg");
              }
  
              margin-bottom: 31px;
            }
  
            .handsOn__text {
              opacity: 0.5;
              max-width: 520px;
            }
          }
  
          .handsOn__btns {
            margin-top: 88px;
            display: flex;
            gap: 20px;
  
            .handsOn__btn1 {
              @extend %blueBtn;
              border-radius: 10px;
              background: linear-gradient(96deg, #394acb -2.05%, #259fba 100.04%);
  
            }
  
            .handsOn__btn2 {
  
              @extend %whiteBtn;
            }
          }
        }
      }
    }
  }
}

//----------  section feedback  -------------

.feedback__container {
  .feedback__inner {
    position: relative;

    .feedback__title {
      margin-bottom: 30px;
    }

    .feedback__slider {
      .slick-track {
        display: flex;
        gap: 20px;
      }

      .slick-prev {
        right: 60px;
        top: -80px;
      }
      
      .slick-next {
        right: 5px;
        top: -80px;
      }

      .feedback__item {
        border-radius: 15px;
        background: #fff;
        padding: 20px 47px 31px 20px;

        .feedback__info {
          display: flex;
          gap: 64px;

          .feedback__user {
            display: flex;
            gap: 15px;

            .user__photo {
              max-width: 71px;
              width: 100%;
              img {
                max-width: 100%;
                height: auto;
                width: auto;
              }
            }

            .user__name {
              .user__subtitle {
                margin-bottom: 15px;
              }

              .user__text {
                color: $textBlack;
                font-size: 14px;
                opacity: 0.5;
              }
            }
          }

          .feedback__text {
            color: $textBlack;
            opacity: 0.5;
            max-width: 263px;
          }
        }

        .feedback__quote {
          max-width: 261px;

          span {
            color: $textBlack;
            font-family: "Mars Type";
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 50px;
          }

          .quote__caption {
            color: $textBlack;
          }
        }
      }
    }
  }
}

//---------- section onlineCourses -----------

.onlineCourses {
  margin-top: 100px;

  .onlineCourses__container {
    margin-top: 100px;

    .onlineCourses__inner {
      border-radius: 20px;
      background: #1a1a1a;
      padding: 80px 50px 104px;

      .onlineCourses__title {
        margin-bottom: 30px;
      }

      .onlineCourses__slider {
        margin-bottom: 20px;

        .slick-active {
          opacity: 1;
        }

        .slick-track {
          display: flex;
          gap: 15px;
          justify-content: center;
        }

        .slick-prev {
          right: 60px;
          top: -80px;
        }
        
        .slick-next {
          right: 5px;
          top: -80px;
        }

        .onlineCourses__item {

          border-radius: 15px;
          max-width: 370px;
          width: 100%;
          position: relative;
          display: grid;
          grid-template-rows: 200px auto;
          transition: all 0.4s ease-in-out;
          overflow: hidden;

          .slick-slide {
            width: 250px;

            .slick-cloned {
              opacity: 0.4;
            }
          }

          .onlineCourses__img {

            img {
              max-width: 370px;
              width: 100%;
              height: auto;
            }
          }

          .onlineCourses__about {
            background: #fff;
            padding: 30px 20px 20px;
            display: flex;
            flex-direction: column;
            width: 100%;

            .onlineCourses__caption {
              color: $textBlack;
              margin-bottom: 15px;
            }

            .onlineCourses__text {
              opacity: 0.5;
              color: $textBlack;
              margin-bottom: 10px;

              span {
                color: #080808;
                font-family: "Arimo";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
              }
            }

            .onlineCourses__prise {
              display: flex;
              gap: 5px;
              font-weight: 700;
              color: $textBlack;
              margin-bottom: 35px;

              span::before {
                content: url("../images/price.svg");
              }
            }

            .onlineCourses__btn {
              @extend %whiteBtn;


              margin-top: auto;
            }
          }
        }
      }

      .onlineCourses__bottom-btn {
        @extend %blueBtn;

      }
    }
  }
}

// ----------SECTION "CASES"----------
.cases {
  margin-top: -56px;
  position: relative;
  margin-bottom: 100px;

  .cases__mobile_bg {
    display: none;
  }

  .cases__container {
    .cases__inner {
      border-radius: 20px;
      background: #080808;
      padding: 80px 50px 50px;

      .cases__background {
        position: absolute;
        top: 0%;
        right: 0%;
        overflow: visible;
        z-index: -2;
        width: 100%;
      }

      .cases__title {
        margin-bottom: 20px;
      }

      .cases__text {
        margin-bottom: 30px;
      }

      .cases__slider {
        // overflow: hidden;

        .slick-track {
          display: flex;
          gap: 15px;
        }

        .slick-prev {
          right: 60px;
          top: -80px;
        }
        
        .slick-next {
          right: 5px;
          top: -80px;
        }

        .cases__item {
          border-radius: 15px;
          max-width: 370px;
          position: relative;
          display: grid;
          grid-template-rows: 210px auto;
          transition: all 0.4s ease-in-out;
          overflow: hidden;
          border-radius: 15px;

          .cases__img {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 100%;

            img {
              height: 100%;
              object-fit: cover;
              width: 100%;
            }
          }

          .cases__about {
            background: #fff;
            padding: 30px 49px 20px 20px;
            display: flex;
            flex-direction: column;
            width: 100%;


            .cases__caption {
              margin-bottom: 20px;
              color: $textBlack;
            }

            .cases__text {
              margin-bottom: 20px;
              color: $textBlack;
            }

            .cases__date {
              margin-bottom: 30px;
              color: $textBlack;
              opacity: 0.5;
            }

            .cases__btns {

              margin-top: auto;
              @extend %whiteBtn;
            }
          }
        }
      }

      .cases__bottom-btn {
        @extend %blueBtn;

        margin-top: 20px;
      }
    }
  }
}

// ---------- footer ----------
.footer {
  border-radius: 20px 20px 0px 0px;
  background: #080808;
  padding: 80px 0 100px;

  .footer__container {
    .footer__inner {
      border-radius: 20px 20px 0px 0px;
      background: #080808;

      gap: 15px;
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr;

      .footer__info {
        border-radius: 20px;
        background: #1d1d1d;
        padding: 40px 50px 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .info__caption {
          margin-bottom: 30px;
        }

        .footer__nav-menu {
          .footer__menu-list {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 30px;

            .footer__menu-item {}
          }
        }

        .footer__partnerLogo {
          margin-top: 72px;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      .footer__address {
        border-radius: 20px;
        background: #1d1d1d;
        padding: 40px 40px 46px;

        .address__caption {
          margin-bottom: 30px;
        }

        .footer__map {
          border-radius: 10px;
          border: 1px solid #fff;
          margin-bottom: 25px;

          max-width: 429px;
          width: 100%;
          overflow: hidden;

          iframe {}
        }

        .footer__contacts {
          margin-bottom: 25px;

          .footer__locationAddress {
            margin-bottom: 31px;
          }

          .footer__email {
            a {
              color: #fff;
              font-family: "Arimo";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;

              &:hover {
                color: #394acb;
              }
            }
          }

          .footer__tel {
            a {
              color: #fff;
              font-family: "Arimo";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;

              &:hover {
                color: #394acb;
              }
            }
          }
        }

        .footer__logoImg {
          display: flex;
          justify-content: center;
        }
      }

      .footer__followUs {
        border-radius: 20px;
        background: #1d1d1d;
        padding: 40px 40px 51px;

        .footer__followsUs-caption {
          margin-bottom: 30px;
        }

        .footer__socials {
          .footer__icons-list {
            display: flex;
            gap: 15px;
            margin-bottom: 141px;

            .footer__icon-item {
              &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
              }
            }
          }

          .footer__instaFrame {
            .footer__text {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

// ----------MEDIA-------------

@media (min-width: 1440px) {
  .primary {
    &::before {
      left: calc(50% - 720px);
    }
  }
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  body .wrapper [class*="__container"] {
    padding: 0 50px;
  }

  .header {
    .header__container {
      .header__nav {
        .nav-menu {
          .menu-list {
            gap: 10px;

            .menu-item {
              .menu-link {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .primary {
    .primary__container {
      .primary__inner {
        .primary__titles {
          margin-bottom: 50px;
        }

        img {
          top: 0%;
          right: 0%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .programs{
    .programs__container{
      .programs__inner{
        .programs__slider {
    
          .slick-prev {
            right: 60px;
            top: -65px;
          }
      
          .slick-next {
            right: 5px;
            top: -65px;
          }
        }
      }
    }
  }
  

  .level {
    .level__container {
      .level__inner {
        gap: 20px;

        .level__video {
          height: 381px;
          max-width: 678px;
          z-index: 2;
          width: 100%;

          video {
            min-width: 290px;
            width: 100%;
          }
        }
      }
    }
  }

  .handsOn {
    .handsOn__container {
      .handsOn__inner {
        .handsOn__slider {
          .handsOn__slider-item {
            display: flex;
            gap: 40px;
            max-width: 1050px;
            margin: 0 auto;

            .handsOn__slider-img {
              width: 42vw;

              img {
                max-width: 100%;
              }
            }

            .handsOn__slider-info {
              .handsOn__text {
                width: 80%;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    .footer__container {
      .footer__inner {
        grid-template-columns: 33% 33% 33%;
      }
    }
  }
}

@media (max-width: 1040px) {
  body .wrapper [class*="__container"] {
    padding: 0 35px;
  }

  .header {
    .header__container {
      .header__nav {
        .menu-list {
          gap: 15px;
        }
      }
    }
  }

  .primary {
    .primary__container {
      .primary__gradient {
        left: -10%;
      }
    }
  }


}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  .primary {
    &::before {
      width: 755px;
      height: 860px;
      transform: rotate(-90deg);
      flex-shrink: 0;
      top: -145px;
      left: -50px;
    }
  }
}

@media (min-width: 901px) {
  .header__burgerIcon {
    display: none;
  }

  .header__mobileNav {
    display: none;
  }

  .onlineCourses {
    .onlineCourses__container {
      .onlineCourses__inner {
        .onlineCourses__about {
          .onlineCourses__bottom-btn {
            display: none;
          }
        }

        .onlineCourses__bottom-btn {
          display: inline-flex;
        }
      }
    }
  }

  // ----------SECTION "CASES"----------
  .cases__container {
    .cases__inner {
      .cases__about {
        .cases__bottom-btn {
          display: none;
        }
      }

      .cases__bottom-btn {
        display: inline-flex;
      }
    }
  }
}


@media (max-width: 900px) {
  .header {
    .header__container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      position: relative;

      .header__nav {
        justify-content: flex-start;

        .nav-menu {
          .menu-list {
            display: none;
          }
        }

        img {
          z-index: 3;
          left: 0px;
          transform: translate(50%, 25%);
        }
      }


      .header__burgerIcon {
        position: absolute;
        transform: translate(-50%, 50%);
        right: 5px;
        top: 0;
        z-index: 13;
      }

      .header__mobileNav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 35px 52px;
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 10;

        &.active {
          transform: translateX(0);
        }

        .header__mobileMenuBg {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          width: auto;
          min-height: 100vh;
          min-width: 100%;
        }

        .header__mobileWrapper {
          position: relative;
          border-radius: 0px 0px 10px 10px;
          background: #080808;
          padding: 116px 20px 25px;
          display: flex;
          flex-direction: column;
          text-align: right;

          .mobile__menu-list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .menu-item {
              .menu-link {
                font-size: 20px;
                line-height: 14px;
                color: #fff;
              }
            }
          }

          .mobile__icons-list {
            margin-top: 118px;
            gap: 10px;
            display: flex;
            justify-content: right;
          }

          // .language-switch {
          //   margin-top: 40px;
          //   display: flex;
          //   gap: 5px;
          //   align-items: center;
          //   text-align: center;
          //   padding: 9px 60px;
          //   border-radius: 100px;
          //   background: #394acb;
          //   justify-content: center;

          //   li {
          //     color: #fff;

          //     a {
          //       color: #fff;
          //     }
          //   }
          // }
        }
      }
    }
  }

  .primary {

    &::before {
      width: 779px;
      height: 925px;
      transform: rotate(-82deg);
      top: -163px;
      left: 15px;
    }

    .primary__container {
      .primary__gradient {
        flex-shrink: 0;
        width: 198px;
        height: 416px;
        transform: rotate(90deg);
      }
    }
  }

  .level {
    .level__container {
      .level__inner {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .benefits__container {
    .benefits__inner {
      .benefits__slider {
        .slick-slide.slick-current.slick-active {
          opacity: 1;
        }

        .benefits__slider-item {
          opacity: 0.4;

        }
      }
    }
  }
  .handsOn {
    .handsOn__container {
      .handsOn__inner {
        padding: 100px 0;

        .handsOn__title {
          line-height: 30px;

          span {
            font-size: 30px;
          }
        }

        .handsOn__slider {
          display: flex;
          flex-direction: column;
          gap: 25px;

          .handsOn__slider-item {
            border-radius: 10px;
            background: #1a1a1a;
            gap: 20px;
            padding: 20px;

            .handsOn__slider-img {
              width: 100%;

              img {
                min-width: 290px;

              }
            }

            .handsOn__slider-info {
              padding: 0px;

              .handsOn__caption {
                margin-bottom: 15px;
              }

              .handsOn__subtitle {
                margin-bottom: 25px;
                font-size: 16px;
                line-height: 18px;
              }

              .handsOn__text {
                width: 100%;
              }

              .handsOn__btns {
                flex-direction: column;
                align-items: center;
                gap: 10px;
                margin-top: 60px;

                .handsOn__btn1 {
                  background: linear-gradient(92deg,
                      #394acb 13.67%,
                      #259fba 79.37%);
                }

                .handsOn__btn2 {
                  background: #1a1a1a;
                  border: 1px solid #fff;
                  color: $textWhite;

                  span::before {
                    content: url("../images/dot.svg");
                  }
                }

                .button {
                  width: 100%;
                  gap: 10px;
                  height: 50px;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  .feedback__container {
    .feedback__inner {


      .feedback__slider {
        .slick-slide.slick-current.slick-active {
          opacity: 1;
        }

        .feedback__item {
          opacity: 0.4;
        }
      }
    }
  }

  .onlineCourses{
    .onlineCourses__container {
      .onlineCourses__inner {
        .onlineCourses__slider {
          .slick-slide.slick-current.slick-active {
            opacity: 1;
          }

          .onlineCourses__item {
            opacity: 0.4;

            .onlineCourses__about {
              .onlineCourses__bottom-btn {
                display: inline-flex;
                margin-top: 5px;
              }
            }
          }
        }
        .onlineCourses__bottom-btn {
          display: none;
        }
      }
    }
  } 

  .cases {
    .cases__mobile_bg {
      display: block;
      position: absolute;
      overflow: visible;
      z-index: -2;
      width: 100%;
      margin: 0 auto;
    }
    .cases__container {
      .cases__inner {
        .cases__background{
          display: none;
        }
        .cases__text {
          width: 80%;
        }
        .cases__slider {
          .slick-slide.slick-current.slick-active {
            opacity: 1;
          }
  
          .cases__item {
            opacity: 0.4;
          }
  
          .cases__about {
            .cases__bottom-btn {
              display: inline-flex;
              margin-top: 5px;
            }
          }
        }
        .cases__bottom-btn {
          display: none;
        }
      }
    }
  }

  .footer {
    padding: 80px 0 60px;
    .footer__container {
      .footer__inner {
        position: relative;
        gap: 0;
        border-radius: 15px;
        grid-template-columns: 1fr;

        .footer__info {
          border-radius: 15px 15px 0 0;
          padding: 125px 20px 20px;
          display: grid;

          .info__caption {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 20px;
          }

          .footer__nav-menu {
            .footer__menu-list{
              margin-bottom: 0;
            }

            .language-switch {
              border-radius: 100px;
              background: #080808;
              text-align: center;
              padding: 10px 60px;
            }
          }

          .footer__partnerLogo {
            position: absolute;
            bottom: 0;
            margin-bottom: 80px;
          }
        }

        .footer__address {
          padding: 20px;
          border-radius: 0;
          display: grid;

          .address__caption {
            margin-bottom: 15px;
          }

          .footer__map {
            margin-bottom: 20px;

            iframe {
              min-width: 250px;
              height: 126px;
            }
          }

          .footer__contacts {
            .footer__locationAddress {
              margin-bottom: 10px;
            }
          }

          .footer__logoImg {
            position: absolute;
            top: 56px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .footer__followUs {
          border-radius: 0 0 15px 15px;
          padding: 80px 0;

          .footer__socials {
            position: absolute;
            top: 125px;
            right: 20px;

            .footer__followsUs-caption {
              font-size: 16px;
              line-height: 18px;
              margin-bottom: 20px;
            }

            .footer__icons-list {
              display: flex;
              flex-direction: column;
              align-items: end;
              gap: 16px;
              margin-bottom: auto;
            }

            .footer__instaFrame {
              display: none;
            }
          }
        }
      }
    }
  }
}


/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .primary {
    &::before {
      content: "";
      background-image: url(/images/preview-BGmob.svg);
      top: -79px;
      left: 372px;
      width: 430px;
      height: 581px;
      transform: rotate(360deg);
      mix-blend-mode: overlay;
    }

    .primary__container {

      .primary__inner {
        .primary__titles {
          margin-bottom: 50px;
        }
      }
    }
  }

  .level {
    .level__container {
      .level__inner {
        flex-direction: column;
      }
    }
  }

  
}

/* Portrait phones and smaller */

@media (max-width: 480px) {
  body .wrapper [class*="__container"] {
    padding: 0 35px;
  }

  .header {
    body .wrapper.header__container {
      padding: 10px 35px;
      .header__nav {
        justify-content: flex-start;
        padding: 20px 0 10px;

        img{
          transform: translate(50%, -50%);
          left: 0%;
          top: 50%;
        }
        .nav-menu {
          .menu-list {
            overflow: hidden;
          }
        }

        img {
          transform: translate(50%, 15%);
          left: 0%;
          top: 50%;
        }
      }

      .header__burgerIcon {
        display: flex;
        position: absolute;
        transform: translate(-50%, 15%);
        right: 25px;
        top: 0;
        z-index: 13;
      }


    }
  }

  .primary {
    &::before {
      top: -68px;
      left: -5px;
      width: 512px;
      height: 703px;
      transform: rotate(0deg);
      mix-blend-mode: overlay;
    }

    .primary__container {

      padding: 0 35px;

      .primary__gradient {
        flex-shrink: 0;
        filter: blur(68.2061843872px);
        position: absolute;
        z-index: 1;
        width: 198px;
        height: 416px;
        transform: rotate(90deg);
        border-radius: 21px 21px 0px 0px;
        opacity: 0.6;
        background: linear-gradient(91deg,
            #080808 27.32%,
            rgba(0, 0, 0, 0.38) 74.93%,
            rgba(0, 0, 0, 0) 95.98%);
      }

      .primary__inner {
        border-radius: 17px 17px 0 0;
        padding: 60px 20px 30px;
        background-image: url("../images/prieview-mob.jpg");
        background-size: cover;

        img {
          display: none;
        }

        .primary__titles {
          margin-bottom: 311px;

          .primary__headline {
            font-size: 28px;
            line-height: 30px;
            margin-bottom: 10px;
          }

          .primary__title {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 20px;
          }

          .primary__text {
            font-size: 12px;
            line-height: 16px;
          }
        }

        .primary__btns {
          display: flex;
          gap: 5px;
          flex-direction: column;
          align-items: center;

          .button {
            max-width: none;
            gap: 8px;
            border-radius: 5px;
            height: 50px;
          }

          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  .programs {
    .programs__container {
      .programs__inner {
        border-radius: 10px;
        padding: 60px 20px 50px;

        .programs__head {
          margin-bottom: 30px;

          .programs__info {
            .programs__title {
              margin-bottom: 10px;
            }

            .programs__text {
              line-height: 18px;
            }
          }

          span {
            display: none;
          }
        }

        .programs__slider {
          flex-direction: column;
          gap: 20px;
          .programs__item {
            .programs__img {
              img {
                min-width: 250px;

              }
            }

            .programs__about {
              padding: 20px;

              .programs__text {
                margin-top: 10px;
              }

              .programs__btn {
                border-radius: 5px;

                align-items: center;
              }
            }
          }
        }
      }
    }
  }

  .level {
    .level__container {
      .level__inner {
        padding: 100px 0 201px;
        flex-direction: column;
        position: relative;
        gap: 20px;

        .level__background {
          top: 30%;
          right: -100%;
        }

        .level__info {
          .level__title {
            line-height: 30px;
            margin-bottom: 30px;
          }

          .level__list {
            .level__item {
              .level__subtitle {
                margin-bottom: 10px;
              }

              .level__text {
                line-height: 18px;
                margin-bottom: 20px;
              }
            }

            .level__btns {
              flex-direction: column;
              gap: 5px;
              width: 100%;
              position: absolute;
              bottom: 50px;
              right: 0;

              .button {
                max-width: none;
                gap: 8px;
                border-radius: 5px;
                height: 50px;
              }
            }
          }
        }

        .level__video {
          border-radius: 10px;
          height: 163px;
          max-width: 678px;
          z-index: 2;
          width: 100% !important;

          video {
            min-width: 290px;
            height: 163px;
            width: 100%;
          }
        }
      }
    }
  }

  .benefits__container {
    .benefits__inner {
      border-radius: 10px;
      padding: 60px 0 120px 20px;

      .benefits__title {
        line-height: 30px;
        margin-bottom: 20px;
      }

      .benefits__slider {
        .slick-track {
          gap: 10px;
        }

        .slick-slide.slick-current.slick-active {
          opacity: 1;
        }

        .slick-prev {
          right: 80px;
          top: inherit;
          bottom: -60px;
        }

        .slick-next {
          right: 20px;
          top: inherit;
          bottom: -60px;
        }

        .benefits__slider-item {
          opacity: 0.4;
          padding: 30px 20px 38px;
          border-radius: 10px;
          max-width: 250px;
          grid-template-rows: 160px auto;
          overflow: hidden;

          .benefits__img {
            max-width: 160px;
            width: 100%;
            margin: 0 auto;
            align-items: center;
            height: 160px;
          }

          .benefits__slider-title {
            font-size: 50px;
            line-height: 50px;
          }

          .benefits__slider-text {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .handsOn{
    .handsOn__container {
      .handsOn__inner {
        padding: 100px 0;
  
        .handsOn__title {
          line-height: 30px;
  
          span {
            font-size: 30px;
          }
        }
  
        .handsOn__slider {
          display: flex;
          flex-direction: column;
          gap: 25px;
  
          .handsOn__arrow-prev {}
  
          .handsOn__slider-item {
            flex-direction: column;
            border-radius: 10px;
            background: #1a1a1a;
            padding: 0;
  
            .handsOn__slider-img {
              width: 100%;
  
              img {
                min-width: 250px;
  
              }
            }
  
            .handsOn__slider-info {
              padding: 18px;
  
              .handsOn__caption {
                margin-bottom: 15px;
              }
  
              .handsOn__subtitle {
                margin-bottom: 25px;
                font-size: 16px;
                line-height: 18px;
              }
  
              .handsOn__text {}
  
              .handsOn__btns {
                flex-direction: column;
                gap: 5px;
                margin-top: 60px;
  
                .handsOn__btn1 {
                  background: linear-gradient(92deg,
                      #394acb 13.67%,
                      #259fba 79.37%);
                }
  
                .handsOn__btn2 {
                  background: #1a1a1a;
                  border: 1px solid #fff;
                  color: $textWhite;
  
                  span::before {
                    content: url("../images/dot.svg");
                  }
                }
  
                .button {
                  max-width: none;
                  align-items: center;
                  gap: 10px;
                  justify-content: center;
                  height: 50px;
                  text-align: center;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  .feedback__container {
    padding: 0 0 0 35px;
    .feedback__inner {

      .feedback__slider {

        .slick-prev {
          right: 80px;
          top: inherit;
          bottom: -60px;
        }

        .slick-next {
          right: 20px;
          top: inherit;
          bottom: -60px;
        }

        .slick-track {
          gap: 10px;
        }

        .feedback__item {
          padding: 20px 30px 31px 20px;
          max-width: 290px;

          .feedback__info {
            flex-direction: column;
            margin-bottom: 60px;
            gap: 5px;

            .feedback__user {
              gap: 10px;

              .user__photo {
                img {
                  min-width: 50px;
                }
              }

              .user__name {
                margin-bottom: 19px;

                .user__subtitle {
                  margin-bottom: 5px;
                }
              }
            }
            .feedback__text {
              line-height: 16px;
              font-size: 12px;
            }
          }

          .feedback__quote {
            span {
              font-size: 40px;
              line-height: 30px;
            }

            .quote__caption {
              line-height: 22px;
            }
          }
        }
      }
    }
  }

  .onlineCourses {
    .onlineCourses__container {
      .onlineCourses__inner {
        border-radius: 15px 15px 0px 0px;
        padding: 60px 0 200px 20px;

        .onlineCourses__title {
          line-height: 30px;
          width: 90%;
        }

        .onlineCourses__slider {
          .slick-prev {
            right: 85px;
            top: inherit;
            bottom: -60px;
          }
  
          .slick-next {
            right: 25px;
            top: inherit;
            bottom: -60px;
          }

          .slick-track {
            gap: 10px;
          }

          .onlineCourses__item {
            border-radius: 10px;
            max-width: 250px;
            position: relative;
            display: grid;
            grid-template-rows: 135px auto;
            overflow: hidden;

            .onlineCourses__img {
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              height: 100%;

              img {
                min-width: 250px;

              }
            }

            .onlineCourses__about {
              .onlineCourses__caption {
                line-height: 25px;
              }

              .onlineCourses__text {
                line-height: 18px;
                font-size: 12px;
                margin-bottom: 25px;
              }

              .onlineCourses__prise{
                margin-bottom: 24px;
              }

              .onlineCourses__btn {
                max-width: none;
                height: 50px;
                border-radius: 5px;
                line-height: 18px;
              }

              .onlineCourses__bottom-btn {
                max-width: none;             
                height: 50px;
                border-radius: 5px;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }

  .cases {
    .cases__container {
      .cases__inner {
        border-radius: 20px;
        padding: 60px 0 100px 20px;

        .cases__title {
          line-height: 30px;
          width: 90%;
        }

        .cases__text {
          width: 100%;
        }

        .cases__slider {
          .slick-slide.slick-current.slick-active {
            grid-template-columns: repeat(1, 1fr);
          }

          .slick-prev {
            right: 80px;
            top: inherit;
            bottom: -60px;
          }
  
          .slick-next {
            right: 20px;
            top: inherit;
            bottom: -60px;
          }

          .slick-track {
            gap: 10px;
          }

          .cases__item {
            opacity: 0.4;
            max-width: 250px;
            border-radius: 10px;
            max-width: 250px;
            grid-template-rows: 135px auto;
            
            .cases__img {
              img {
                min-width: 250px;
              }
            }

            .cases__about {
              padding: 30px 18px 20px;

              .cases__text {
                line-height: 18px;
                font-size: 12px;
              }

              .cases__date {
                margin-bottom: 40px;
              }

              .cases__btns {
                max-width: none;
                gap: 10px;
                height: 50px;
                text-align: center;
                border-radius: 5px;
              }

              .cases__bottom-btn {
                margin-top: 5px;
                max-width: none;
                gap: 10px;
                height: 50px;
                text-align: center;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 375px) {
  .primary {
    &::before {
      top: -75px;
      left: -35px;
      width: 430px;
      height: 581px;
      transform: rotate(360deg);
      mix-blend-mode: overlay;
    }
  }
}